@page
@model CincinnatiAccidents.Pages.FireAccidentsModel
@{
    ViewData["Title"] = "Cincinnati Accidents";
    var fireaccidents = (QuickTypeFire.FireAccident[])ViewData["FireAccidents"];
}
<div class="text-center">
    <h1 class="display-4">Cincinnati Fire Accidents Report</h1>
    <p>list of fire accidents occured in and around city of cincinnati</p>
</div>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Address</th>
            <th>Neighbourhood</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (QuickTypeFire.FireAccident fireAccident in fireaccidents)
        {
            <tr>
                <td>@fireAccident.CreateTimeIncident</td>
                <td>@fireAccident.AddressX</td>
                <td>@fireAccident.Neighborhood</td>
                <td>@fireAccident.LongitudeX</td>
                <td>@fireAccident.LatitudeX</td>
            </tr>
        }
    </tbody>
</table>