@page
@model CincinnatiAccidents.Pages.FireStationsDashboardModel
@{
    ViewData["Title"] = "FireStationsDashboard";
    var fireStations = (IList<CincinnatiAccidents.Models.FireStations>)ViewData["FireStationsList"];
}

<div>
    <table border="1">
        <tr>
            <th> Neighbourhood </th>
            <th> Fire Station Number </th>
            <th> Engine Company </th>
            <th> Ladder Company </th>
            <th> Medic Unit </th>
            <th> District </th>
            <th> Zip Code </th>
        </tr>
        @{

            foreach (CincinnatiAccidents.Models.FireStations fireStation in fireStations)
            {
                <tr>
                    <td> @fireStation.Neighbourhood</td>
                    <td> @fireStation.FireStationNumber </td>
                    <td> @fireStation.EngineCompany </td>
                    <td> @fireStation.LadderCompany </td>
                    <td> @fireStation.MedicUnit </td>
                    <td> @fireStation.District </td>
                    <td> @fireStation.Zip </td>
                </tr>
            }

        }
    </table>
</div>