@page
@model CincinnatiAccidents.Pages.TrafficAccidentsModel
@{
    ViewData["Title"] = "Cincinnati Accidents";
    var trafficaccidents = (QuickTypeTraffic.TrafficAccident[])ViewData["TrafficAccidents"];
}
<div class="text-center">
    <h1 class="display-4">Cincinnati Traffic Accidents Report</h1>
    <p>list of traffic accidents occured in and around city of cincinnati</p>
</div>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Address</th>
            <th>Neighbourhood</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (QuickTypeTraffic.TrafficAccident trafficAccident in trafficaccidents)
        {
            <tr>
                <td>@trafficAccident.Datecrashreported</td>
                <td>@trafficAccident.AddressX</td>
                <td>@trafficAccident.CpdNeighborhood</td>
                <td>@trafficAccident.LongitudeX</td>
                <td>@trafficAccident.LatitudeX</td>
            </tr>
        }
    </tbody>
</table>